/* font awesome */
$fa-font-path:"../../bower_components/fontawesome/fonts/"; // for referencing Bootstrap CDN font files directly
@import "../../bower_components/fontawesome/scss/font-awesome";

/* font awesome */
@mixin t-fa {	
	&:before { @include fa-icon(); }
}

/* for a specific module - like social - where it's easier to use apply styles within the module itself */
@mixin t-fa-abs {
	@include t-fa();
	position: relative; 
	text-indent: -999em; 
	display: block; 
	overflow:hidden;
	&:before {
		position: absolute; top: 50%; left:0; right:0; 
		text-align: center; 
		z-index: 2; 
		text-indent:0; 
		transform: translateY(-50%) !important ;
	}
}

/* when classes are simpler */
.t-fa { @include t-fa(); }
.t-fa-abs { @include t-fa-abs(); }

/* Custom Icon font */
@include declare-font-face('JCWF-MADLAB','madlab','../fonts/madlab/');
$customFont: JCWF-MADLAB;

/* character mapping for custom font */
$customFontCharacterMapping: (
	'ml-dumbbell': "d",
	'ml-heart': "h",
	'ml-faq': "f",
	'ml-calculator': "c",
	'ml-utensils': "u",
	'ml-basketball': "b",
	'ml-tree': "t",
	'ml-compass': "C",
);

@mixin custom-f() {
	@include t-fa();
	&:before {
		text-transform: none !important;
		font-family: $customFont !important;
	}
	
	@each $map in $customFontCharacterMapping {
	
		$class: #{nth($map,1)};
		$character: #{nth($map,2)};
		
		&.#{$class}:before {
			content: "#{$character}";
		}
		
	}
}

@mixin custom-f-abs() {
	@include t-fa-abs();
	@include custom-f();
}

.custom-f { @include custom-f(); }
.custom-f-abs { @include custom-f-abs(); }