$pageBackgroundColor: #fff !default;
$darkBackgroundColor: #000 !default;
$darkBackgroundContentColor: #fff !default;
$sectionSeparatorColor: #000 !default;
$darkSectionSeparatorColor: #fff !default;
$separatorColor: #000 !default;

$bodyContentColor: #000 !default;
$bodyBackgroundColor: #fff !default;

$wrapperWidth: 1200px !default;
$collapseNavAt: 700px !default;
$pageWrapperWidth: 1920px !default;

/* body */
body { 
	font-family: $defaultFontStack; 
	line-height: 1.4; 
	overflow-x:hidden; 
	background: $bodyBackgroundColor;
	color: $bodyContentColor;
}

.page-wrapper { 
	margin: 0 auto; 
	position: relative; 
	width: $pageWrapperWidth;
	background: $pageBackgroundColor;
	max-width: 100%; 
	overflow:hidden;
	z-index:1;
}

/* crazy sticky footer */
.page-wrapper {
	display: flex ;
	min-height: 100vh;
	flex-flow: column nowrap ;
}

.body {
	flex: 1 0 auto ;
	background: $lightColor;
	position: relative;
}


.sw { 
	width: $wrapperWidth; 
	max-width: 95%;
	margin: 0 auto; 
	position: relative; 
	&.full { max-width: 100%;}
}


.dark,
.dark-bg { background-color: $darkBackgroundColor; }

.d-bg,
.dark-bg { color: $darkBackgroundContentColor; }

.light-bg { color: $bodyContentColor; }

hr { 
	margin: 25px auto; 
	border: solid $separatorColor; 
	border-width:1px 0 0;

	&:last-child { margin-bottom:0; }
}

.body section { 

	padding: 80px 0; 
	position: relative;
	
	&.nopad { padding:0;  }
	&.pad40 { padding: 40px 0; }
	&.pad20 { padding: 20px 0; }
	&.pad10 { padding: 10px 0; }
	
	.hgroup:last-child,
	.grid:last-child { margin-bottom:0; }
	
	&.filter-section {
		padding-top:0;
	}
	
}