$navBackgroundColor: #0F1A25;
$smallHeaderDuration: 0.2s;
$smallHeaderEasing: $ease-in-out-sine;
$smallHeaderWidth: 650px;

header {
	position: fixed;
	top:0; left:0; right:0;
	padding: 68px 0 10px;
	z-index:10;

	.sw {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@media screen and (min-width: $wrapperWidth) {
			padding: 0 20px;
		}
	}
}

.header-meta {
	font-size:0;

	position: relative;
	&:after {
		position: absolute;
		top:0; left: 50%; bottom:0;
		margin-left: -1px;
		border-left: 1px solid #979797;
		content:"";
	}

	button {
		@include t-fa-abs();
		width: 40px; height: 40px;
		color: $lightColor;
		font-size: 26px;
		border-radius: $buttonBorderRadius;
		display: inline-block;
		outline: none;

		&:hover {
			color: $primaryColor;
			background: $lightColor;
		}

		+ button {
			margin-left: 16px; 
		}
	}

	.toggle-nav {
		&:before { content: $fa-var-bars;}
	}

	.toggle-search {
		&:before { content: $fa-var-search; }
	}
}

.header-logo {
	display: block;
	width: 164px; height:106px;
	background: none !important;
	position: relative;
	top: -20px;
	img {
		position: absolute;
		top:0; left:0;
		height: 100%;
		opacity:1;
		visibility: visible !important;
	}

	&:after {
		content:"";
		position: absolute;
		top:0; left:0; width: 80px; height: 50px;
		background: url(../images/madlab-logo-title.svg) center no-repeat;
		background-size:contain;
		opacity:0;
	}
}

.nav-meta .sw,
.header-meta,
.header-meta:after,
.header-logo,
.header-logo img,
.header-logo:after,
header {
	transition: $smallHeaderDuration all $smallHeaderEasing !important;
}

@mixin small-header() {
	header {
		padding-top: 10px;
		background-color: rgba($navBackgroundColor,0.95);
	}

	.header-logo {
		top: 0;
		height: 50px; width: 80px;
		img { opacity:0;}
		&:after { opacity:1;}
	}

	.header-meta {
		transform: scale(0.8,0.8);
		top: 0;
		&:after {opacity:0;}
	}

	.nav-meta .sw {
		padding-top: 10px;
		padding-right: 100px;
	}	
}

.small-header {
	@include small-header();
}

@media screen and (max-width: $smallHeaderWidth) {
	@include small-header();
}