.nav-meta {
	position: fixed;
	top:5px; left:0; right:0;
	z-index: 11;
	font-size:0;
	height:0;

	a {
		display: inline-block;
		float: right;
		font-size: 14px;
		border-radius: $buttonBorderRadius;
		line-height:1;
		padding: 8px;
		color: #A4A4A5;

		&:hover {
			background: $lightColor;
			color: $primaryColor;
		}
	}

}

.nav-overlay {
	position: fixed;
	transform: translate3d(0,-100%,0);
	transition: transform 0.4s $ease-out-sine;
	top:0; left:0; right:0;
	width: 100vw; height: 100vh;
	background: rgba($navBackgroundColor,0.98);
	z-index: 12;
	text-align:center;
	overflow: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	.toggle-nav {
		position: absolute;
		top:10px; right:0;
		outline: none;
		color: $lightColor;
		font-size: 32px;
		cursor: pointer;
		z-index: 10;
		width: 40px; height: 40px;
		text-indent: -999px;
		overflow: hidden;
		border-radius: $buttonBorderRadius;
		&:before {
			position: absolute;
			text-indent:0;
			top:0; left:0; right:0; bottom:0;
			line-height: 40px;
			content: "\00d7";
		}

		&:hover {
			background: $lightColor;
			color: $navBackgroundColor;
		}
	}

	a {
		color: $lightColor;
		display: inline-block;
		padding: 8px 14px;
		border-radius: $buttonBorderRadius;
		&:hover {
			color: $navBackgroundColor;
			background: $lightColor;
		}
	}

	.social {
		display: inline-flex;
		margin: 20px 0;
		padding: 20px 0;
		border-top: 1px solid #303336;
		justify-content: center;
		a {
			color: $lightColor;
			&:hover {
				background: $lightColor;
				color: $navBackgroundColor;
			}
		}
	}

}

nav {
	padding: 40px 0;
	ul {
		a {
			font-size: 28px;
			display: inline-block;
			padding: 8px;
			margin: 10px 0;
		}
	}
}


.show-nav {
	.nav-overlay { transform: none; }

	body { 
		height: 100vh; 
		overflow: hidden; 
	}
}

@media screen and (max-width: 500px) {
	.nav-meta {
		z-index: 1100;
		text-align:center;
		top:0;
		
		.sw { 
			transform: translate3d(0,-100%,0); 
			padding:0 !important;
			background: $navBackgroundColor;
			.show-nav & {
				transform:none;
			}
		}

		a {
			float: none;
		}
	}

	.nav-overlay {
		.toggle-nav {
			top: 40px;
		}
	}
}