$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
}

.footer-row {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items:center;
	font-size:12px;

	div {
		flex: 1 1 0;
	}
}

@media screen and (min-width: 800px) {

	.footer-copyright {
		text-align:center;
	}

	.footer-address {
		text-align:left;
	}

	.footer-jac {
		text-align:right;
	}
	
}

#jac { 
	width: 186px; 
	height: 25px; 
	display: inline-block;
	background-size: cover;
	img { width: 100%; }
}


@media screen and (max-width: 800px) {
	.footer-row {
		display: block;
		text-align: center;

		div {
			padding: 15px 0;
		}
	}
}
