.full-video {
	position: fixed;
	z-index: 1;
	top:0; left:0; right:0; bottom:0;
	width: 100vw; height: 100vh;
}

footer,
.hero,
.body {
	z-index: 2;
}

.hero {

	width: 100%;
	margin: 0 auto;
	position: relative;
	
	&:after,
	&:before {
		content:"";
		position: absolute;
		top:0; bottom:0;
		background: #000;
		width: 100vw;
		background: rgba(#0f1a24,0.95);
	}

	&:before { left: 100%; }
	&:after { right: 100%; }

	@media screen and (min-width: $wrapperWidth) {
		&:before { margin-left: -1px;}
		&:after { margin-right: -1px;}
	}

	body:not(.home) {
		&:before,
		&:after { display: none; }
	}

	.swipe-item {
		height: 100vh;
		min-height: 400px;
		max-height: 700px;

		.home & {

			@media screen and (min-width: 800px) {
				.hero-content .hgroup { display: none; }
				.hero-content .button {
					transform: translate3d(0,100%,0);
				}
				.swipe-item-bg { 
					display: block; 
					&.loaded {
						opacity: 0.95 !important;
					}
				}
			}

			@media screen and (max-width: 800px) {
				.swipe-item-bg { display: none; }
			}

		}

		body:not(.home) & {
			&:after {
				content:"";
				position:absolute;
				top:0; left:0; right:0; bottom:0;
				background: rgba(0,0,0,0.6);
				z-index:3;
			}
		}
	}



	.swipe-item-bg.loaded {
		z-index:1;
	}

}

.hero-content {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	z-index: 4;
	padding-top: 120px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	text-align:center;

	@media screen and (max-width: $smallHeaderWidth) {
		padding-top: 30px;
	}

	.hero-title,
	.hero-subtitle { color: $lightColor; }

	.button.t-fa:before { top: -1px; }

}