.social {

	cursor: default;
	display: flex ;

	a {
		@include t-fa-abs();
		width: 40px; height: 40px;
		border-radius: 20px;
		margin: 0 2px;
		color: $secondaryColor;	
		&:before { 
			font-size: 24px;
		}
		&:hover {
			background: $secondaryColor;
			color: $lightColor;
		}
	}
	
}

.social-fb:before { content: $fa-var-facebook; }
.social-tw:before { content: $fa-var-twitter; }
.social-in:before { content: $fa-var-linkedin; }
.social-ig:before { content: $fa-var-instagram; }
.social-gp:before { content: $fa-var-google-plus; }
.social-yt:before { content: $fa-var-youtube; }
.social-rss:before { content: $fa-var-rss; }