$selectorColor: #fff !default;
$selectorColorActive: #ddd !default;
$selectorBackgroundColor: #000 !default;
$selectorBackgroundColorActive: #999 !default;

/* selectors */
.selector { 
	position: relative; 
	margin: 0 0 10px; 
	cursor: pointer; 
	display: inline-block; 
	background: $selectorBackgroundColor;
	&:hover { background: $selectorBackgroundColorActive; }
	
	&.with-arrow { 
		display: flex;
		&:after {
			flex: 0 0 auto ;
			@include fa-icon();
			display: flex ;
			align-items: center ;
			justify-content: center ;
			width: 40px;
			content: $fa-var-angle-down;
			border-left: 1px solid $selectorColor;
			color: $selectorColor; 
			font-size: 18px;
		}
	}
	
	.value {
		flex: 1 1 auto ;
		display: block; 
		padding: 14px; 
		color: $selectorColor; 
		line-height: 1; 
		font-family: $defaultFontStack; 
		font-size: 16px; 
		text-indent:0; 
	}
	
	select:focus+.value,
	&:hover .value,
	&:hover:before {
		color: $selectorColorActive;
	}
	
	select {
		position: absolute; 
		top:0; left:0; right:0; bottom:0; 
		width: 100%; height: 100%; 
		opacity:0; 
		background: transparent; 
		cursor: pointer; 
		z-index: 10;
	}
	
	
}