.primary-bg { background: $primaryColor; }
.primary { color: $primaryColor; }
.secondary-bg { background: $secondaryColor; }
.light-bg { background: $lightColor;}
.lightest-bg { background: #fff; }
.textured-bg {
	background: url(../images/textured.png) center no-repeat;
	background-size: cover;
}
.darkest-bg { background: #000; }

@import "site/search_form";

.mfp-fs-video {
	.mfp-content { position: static; }
	.mfp-close {
	    top: 0;
	    left: auto;
	    width: 60px;
	    text-align: center;
	    color: #fff;
	    opacity: 1;
	    font-size: 52px;
	    text-shadow: 0 0 4px #000;
	}
}

.selector {
	@include buttonGradient();
	border-radius: $buttonBorderRadius;
	&:after { border: none !important; }
}

.centered {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	text-align:center;
}

p.centered {
	width: 500px;
}


.item {


	&.with-btn {
		position: relative;
		padding-bottom: 60px;
		.btn-wrap {
			position: absolute;
			bottom:0; left:0; right:0;
			text-align:center;
		}
	}

	&.with-ico {
		.ico {
			font-size: 72px;
		}
	}
}

.col-separator {
	border-color: $lightColor;
}

.section-header {
	background: #fff;
	padding: 30px 0;
	.sw {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.section-header-title {
	margin:0;
}

@media screen and (min-width: 1100px) {
	.flex-results-wrap {
		display: table;
		table-layout: fixed;
		width: 100%;

		&>div {
			display: table-cell;
			vertical-align:top;
		}
		

		.daily-results {
			width: 450px;
			padding: 10px 20px;
			flex: 0 0 450px;
		}

		.filter-section {
			flex: 0 1 auto;
		}
	}
}

.daily-results {
	padding: 20px;
	>div {
		margin: 0 0 40px;
	}

	time {
		display: block;
		margin: 0 0 20px;
	}

	.daily-results-title + time {
		margin-top: -20px;
	}

	.btn-group {
		background: $lightColor;
		border: 1px solid darken($lightColor,10);
		display: flex;
		margin: 10px 0;
		button {
			text-transform: uppercase;
			padding: 8px;
			flex: 1 1 0;
			border: none;
			+button {
				border-left: 1px solid darken($lightColor,10);
			}
		}
	}

	table {
		border: 1px solid $lightColor;
		width: 100%;
		margin: 10px 0;
		td {
			padding: 8px;
		}
	}

	.selector {
		display: inline-flex;
	}

	.event-info {
		padding: 20px;
		border: 1px solid $mediumColor;
		margin: 0 0 15px;
		p { margin: 0 0 15px; }
	}

	.event-info-title {
		font-size:18px;
		margin: 0 0 5px;
		display: block;
		font-weight:700;
	}
}

/* coach */
.coach-img-wrap {
	margin: 15px auto;
	width: 145px;
	max-width: 100%;
	border-radius: 50%;
	border: 1px solid #979797;
	overflow:hidden;
	position:relative;
	perspective: 1px;

	&:after {
		content:"";
		display:block;
		width: 100%;
		padding: 0 0 100%;
	}

	.lazybg {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
	}
}

.coach-title {
	display: block;
	text-align: center;
	font-weight:700;
	color: $mediumColor;
	font-size:18px;
	text-transform:uppercase;
}

/* cards */
.card-grid {}

.card-item {
	position: relative;
	overflow: hidden;
	background: #000;
	height: 350px;

	&:hover {
		.card-item-bg { opacity: 1 !important;}
	}
}

.card-item-bg {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	opacity:0.5 !important;
}

.card-item-content {
	color: $lightColor;
	position: absolute;
	bottom:30px; left:30px; right: 30px;

	time {
		display: block;
		font-size:12px;
		text-transform: uppercase;
	}
}

.card-item-title {
	display: block;
	font-size:22px;
	width: 260px;
	max-width: 100%;
	margin: 15px 0;
}

/* location map */
.location-selector-wrap {
	position: absolute;
	height:0;
	top: 10px; left:0; right:0;
	text-align: center;
	z-index: 10;
	.selector {
		padding: 5px 10px;
		display: inline-flex;
	}
}

.location-map {
	.gmap {
		margin:0;
		height: 75vh;
		min-height: 300px;
	}
}

/* excerpt section */
.excerpt-section {
	text-align:center;
	p {
		font-size: 24px;
		width: 700px;
		color: #636265;
	}
}

/* overview excerpt section */
.overview-excerpt-section {
	line-height: 2;
	@media screen and (min-width: 800px) {
		column-count: 2;
		column-gap: 40px;
	}
}

/* overview blocks */
.ov-block {
	background: #fff;
	position: relative;
	min-height: 30vh;
}

.ov-block-content { padding: 20px; }
.ov-block-img { display: none; }

@media screen and (max-width: 800px) {
	.ov-block:nth-of-type(even) {
		background: $lightColor;
	}
}

@media screen and (min-width: 800px) {
	.ov-block {
		display: flex;
		align-items:center;
		padding: 0 0 0 50%;

		&:nth-of-type(odd) {
			justify-content: flex-end;
			padding: 0 50% 0 0;
			.ov-block-content { padding: 80px 80px 80px 20px;}
			.ov-block-img { left: auto; right:0;}		
		}
	}

	.ov-block-img {
		display: block;
		position: absolute;
		top:0; left:0; bottom:0;
		width: 50%;

		.lazybg {
			position: absolute;
			top:0; left:0; right:0; bottom:0;
		}
	}

	.ov-block-content {
		padding: 80px 20px 80px 80px;
		width: $wrapperWidth/2;
		max-width: 100%;
	}
}

.ov-block-content {


	@media screen and (min-width: 800px) and (max-width: $wrapperWidth) {	
		padding: 80px 20px 80px 80px;
		.ov-block:nth-child(odd) & { padding: 80px 80px 80px 20px; }
	}

	@media screen and (min-width: $wrapperWidth){	
		padding: 80px 0 80px 80px;
		.ov-block:nth-child(odd) & { padding: 80px 80px 80px 0; }
	}
}

/* breadcrumbs */
.breadcrumbs {

	border-bottom: 1px solid #DADADA;

	.fa-home {
		display: inline-block;
	    width: 24px;
	    height: 24px;
	    vertical-align: middle;
	    font-size: 18px;
	    position: relative;
	    top:  -3px;
	}
}

.main-body {

	.content {
		flex: 2 2 0;
	}
}

@media screen and (max-width: 1020px) {
	.main-body {
		flex-flow: row wrap;
	}
}

.tabs-full {
	.tab-controls {
		background: $charcoalColor;
		color: #fff;

		.sw {
			display: table;
			border-collapse: collapse;
		}

		.tab-control {
			text-align:center;
			text-transform: uppercase;
			cursor: pointer;
			display: table-cell;
			padding: 25px 10px;
			border: solid #fff;
			border-width: 0 1px;
			vertical-align: middle;
			color: $lightColor;

			&:hover {
				background: $mediumColor;
			}

			&.selected {
				background: #fff;
				color: $bodyContentColor;
			}
		}

		.selector { display: none; }
	}

	@media screen and (max-width: 800px) {
		.tab-controls {
			.tab-control { display: none;}
			.selector {
				margin:0;
				border-radius:0;
				display: flex;
			}
		}
	}
}

.primary-sidebar {
	background: #f7f7f7;
	border-right: 1px solid #dadada;
	flex: 0 0 350px;
	padding: 50px;

	& + .content {
		.breadcrumbs {
			padding: 15px 30px;
		}
		.article-body {
			padding: 30px;
		}
	}

	@media screen and (max-width: 1000px) {
		flex: 0 0 100%;
		padding: 20px;
		order: 99;

		&.o-first { order: -1; }

		& + .content {
			flex: 0 0 100%;
		}
	}
}

.in-this-section-mod {

	a {
		display: inline-block;
		padding: 0 0 2px;
		border-bottom: 1px solid transparent;
		color: $darkColor;
		margin: 0 0 14px;
	}

	a:hover,
	.selected a {
		color: $mediumColor;
		border-color: $primaryColor;
	}
}

.archives-mod {

	.acc-item + .acc-item {
		.acc-item-handle {
			border-top: 1px solid #fff !important;
		}
	}

	.acc-item-handle {
		text-align:center;
	}

	.acc-item-content {
		a { 
			padding: 8px;
			font-size:14px;
			text-align: center; 
		}
	}
}

/* testimonial section */
.testimonial-section {
	position: relative;
	padding-bottom: 0 !important;
	&:after {
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background: rgba(0,0,0,0.5);
		z-index:1;
	}

	>div {
		position: relative;
		z-index: 2;
	}

	& + section {
		padding-top: 120px;
	}

	.lazybg {
		clip-path: url("#clip-diamond");
	}
}

.testimonial {
	width: 770px;
	max-width: 90%;
	margin: 40px auto 0;
	text-align:center;
	font-size:18px;
	line-height: 30px;

	cite {
		display: block;
		margin: 10px 0;
		color: $primaryColor;
		font-style: italic;
	}
}

.testimonial-image-swiper {
	width: 120px; height: 120px;
	margin: -40px auto 0;
	position: relative;
	top: 20px;
	transform: translate3d(0, 50%, 0);

	&:after {
		content:"";
		z-index:-1;
		position:absolute;
		top:-10px; left:-10px; right:-10px; bottom:-10px;
		background: rgba(#060E0E,0.67);
		transform: rotateZ(45deg);
	}

	.swipe-item {
		width: 120px; height: 120px;
		transform: rotateZ(45deg);
		overflow:hidden;
	}

	.slick-list { overflow: visible; }

	.swipe-item-bg {
		top: -30px;
		left: -30px;
		right: -30px;
		bottom: -30px;
		transform: rotateZ(-45deg);
	}

	.slick-next,
	.slick-prev {
		@include t-fa-abs();
		width:32px; height: 32px;
		color: $primaryColor;
		font-size:32px;
		position: absolute;
		border-radius: 8px;
		top:-20px;
		outline: none;

		&:hover {
			color: $lightColor;
			background: $primaryColor;
		}
	}

	.slick-prev {
		left:-50px;
		&:before { content: $fa-var-angle-left;}
	}

	.slick-next {
		right:-50px;
		&:before { content: $fa-var-angle-right;}
	}
}

.clip-svg { width:0; height:0; }

.testimonial-grid {
	background: #fff;
	.item {
		border: 1px solid $whiteColor;
	}
}

/* contact page */
.contact-map-wrap {
	position: relative;
	padding: 60px 0;
	&:after {
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		z-index: 2;
		background: #000;
		opacity:0.85;
		transition: all 0.2s $ease-in-out-sine;
	}

	&:hover:after {
		opacity:0.65;
	}

	.sw { z-index: 3; }

	.social {
		padding: 25px 0 0;
		justify-content: center; 
		a {
			color: $lightColor;
			&:hover {
				color: $bodyContentColor;
				background: $lightColor;
			}
		}
	}
}

.contact-map {
	transition: opacity 0.2s $ease-in-out-sine;
	position: absolute;
	top:0; right:0; bottom:0; left:0;
	z-index: 1;
	opacity:0;
	&.ready { opacity:1; }
}

.contact-info {
	text-align:center;
	color: $darkBackgroundContentColor;
	margin: 0 0 30px;
	
	address {
		margin: 15px 0 0;
		font-size: 14px;
		span { 
			font-size: 28px;
			display: block;
		}
	}
}

.madlab-marker {
	transform: translate3d(0,-50%,0);
	position: absolute;
	width: 35px; height: 59px;
	background: url(../images/marker.svg) center no-repeat;
}