/**
 Theme
 
 This framework has been developed based on the similarities
 between most JAC templates. It may not work well for templates
 that wildliy depart from the usual design, but it will no doubt still contain
 useful components. 
 
 Have Fun!
 
*/

/* Theme Specific Colors that we can use below */
$blueColor: #095294;
$charcoalColor: #2C292B;
$greyColor: #636265;
$whiteColor: #E5E8EB;

$darkColor: $charcoalColor;
$mediumColor: $greyColor;
$lightColor: $whiteColor;

$primaryColor: $blueColor;
$secondaryColor: $charcoalColor;


@mixin link-transition() {
	transition: 0.2s color $ease-in-out-sine ;
}

/* grid */
$gridCollapseLarge: 1600px;
$gridCollapseMedium: 1200px;
$gridCollapseSmall: 750px;
$gridCollapseExtraSmall: 550px;

$gridClassMapping: (
	'lg': #{$gridCollapseLarge},
	'md': #{$gridCollapseMedium},
	'sm': #{$gridCollapseSmall},
	'xs': #{$gridCollapseExtraSmall}
);

/* fonts */
$defaultFontStack: helvetica,arial,sans-serif !default;
$serifFontStack: georgia,garamond,serif !default;
$sansSerifFontStack: helvetica,arial,sans-serif !default;

@mixin declare-font-face($font-family, $font-filename, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-filename}.eot'); /* IE9 & compatibility modes */
		src: url('#{$path}#{$font-filename}.eot?#iefix') format('eot'), /* IE6-8 */
		url('#{$path}#{$font-filename}.woff2') format('woff2'), /* Blink */
		url('#{$path}#{$font-filename}.woff') format('woff'), /* Firefox, Opera */
		url('#{$path}#{$font-filename}.ttf') format('opentype'), /* Chrome */
		url('#{$path}#{$font-filename}.svg##{$font-filename}') format('svg'); /* Safari */
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

$defaultFontStack: Open Sans,$sansSerifFontStack;

/* body */
$pageBackgroundColor: $lightColor;
$darkBackgroundColor: $darkColor;
$darkBackgroundContentColor: $lightColor;
$sectionSeparatorColor: $primaryColor;
$darkSectionSeparatorColor: $lightColor;
$separatorColor: $primaryColor;

$bodyContentColor: #333333;
$bodyBackgroundColor: darken($secondaryColor,10);

$wrapperWidth: 1470px;
$collapseNavAt: 1280px;
$pageWrapperWidth: 100%;

/* footer */
$footerBackgroundColor: $lightColor;
$footerContentColor: #666;
$footerLinkColor: #666;
$footerHoverColor: $primaryColor;

$copyrightBackgroundColor: $darkColor;
$copyrightContentColor: #818183;
$copyrightLinkColor: #818183;
$copyrightHoverColor: #fff;
$copyrightSeparatorColor: #818183;

/* headings */
$darkBackgroundHeadingColor: $lightColor;
$headingFontStack: $defaultFontStack;
$headingColor: $primaryColor;

$h1Size: 62px;
$h2Size: 32px;
$h3Size: 28px;
$h4Size: 26px;
$h5Size: 18px;
$h6Size: 16px;

/* for more fine-grained control of heading styles */
@mixin header-theme() { 
	font-weight: 700;
	text-transform: uppercase;
}
@mixin h1-theme() { }
@mixin h2-theme() { }
@mixin h3-theme() { }
@mixin h4-theme() { }
@mixin h5-theme() { }
@mixin h6-theme() { }

/* buttons */

$blueGradStart: #1E67AA;
$blueGradEnd: #095294;
@mixin buttonGradient {
	@include linear-gradient( 300deg, rgba($blueGradStart,0), $blueGradStart );
	background-color: $blueGradEnd;
}

/* Use these mixins to define button color, background color, etc */
$buttonBorderRadius: 4px;
@mixin button() {
	@include buttonGradient();
	transition: 0.2s all $ease-in-out-sine ;
	color: $lightColor;
	border-radius: $buttonBorderRadius;
	border: transparent;
	padding: 15px 26px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0,0,0,0.12);
	box-shadow: 0 1px 0 #084174;

	&.t-fa {
		&:before {
			margin-right: 10px;
			font-size: 28px;
			vertical-align: middle;
			position: relative;
			top: -3px;
		}
	}

	&.big {
		padding: 20px 40px;
		font-size: 18px;
	}
	
}

@mixin buttonHover() {
	background-color: $blueGradStart;
}

/* article styles */
$sidebarWidth: 360px;
$sidebarCollapseWidth: 950px;

@mixin link-theme() {
	color: $primaryColor;
	display: inline-block;
	position: relative;
	font-weight:500;
	padding: 2px 4px;
	border-bottom: 1px solid $primaryColor;
	
	
	.d-bg &,
	.dark-bg & { 
		color: $darkBackgroundContentColor;
		border-color: $darkBackgroundContentColor;
	}
	
	&,
	&:after {
		transition: 0.15s all $ease-in-out-sine ;
	}
	
	&:after {
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background-color: $primaryColor;
		
		transform-origin: center bottom ;
		transform: scale(1,0) ;
		z-index: -1;
		
		.d-bg &,
		.dark-bg & {
			background-color: $darkBackgroundContentColor;
		}
		
	}
	
}

@mixin link-hover-theme() {
	color: #fff !important;
	
	.d-bg &,
	.dark-bg & { color: $secondaryColor !important; }
	
	&:after { transform: none ; }	
}

@mixin link-visited-theme() {
	color: $secondaryColor;
	border-color: $secondaryColor;
	&:after {
		background-color: $secondaryColor;
	}
	
	.d-bg &,
	.dark-bg & { color: $darkBackgroundContentColor; }
	
}

@mixin link-active-theme() {
	text-decoration: none;
	color: #fff !important;
	
	&:after { 
		background-color: $primaryColor;
		transform: none ; 
	}
	
}

/* excerpts */
$excerptColor: $primaryColor;

/* lists */
$listNumberColor: $primaryColor;

/* breadcrumbs */
$breadCrumbColor: $primaryColor;
$breadCrumbColorActive: $mediumColor;
$breadCrumbColorHover: $secondaryColor;

/* forms */
$fieldBackgroundColor: #efefef;
$fieldTextColor: $secondaryColor;
$fieldPlaceHolderColor: #8c8c8c;
$fieldBorderColor: #e2e2e2;
$fieldFocusedBackgroundColor: #fff;
$fieldSpacing: 10px;
$fieldPadding: 14px;
@mixin field-placeholder() {
	font-family: $defaultFontStack;
	color: $fieldPlaceHolderColor;
}

@mixin my-placeholder() {

	/* 
		cannot rely on autoprefixer because CSSShrink combines placeholder rules
		making them invalid
	*/
	&::-webkit-input-placeholder { 
		font-family: $defaultFontStack,-webkit-placeholder; 
		@content;
	}
	&::-moz-placeholder { 
		font-family: $defaultFontStack,-moz-placeholder; 
		@content;
	}
	&:-moz-placeholder { 
		font-family: $defaultFontStack,--moz-placeholder; 
		@content;
	}
	&:-ms-input-placeholder { 
		font-family: $defaultFontStack,--ms-placeholder; 
		@content;
	}
	&:placeholder { 
		font-family: $defaultFontStack,-placeholder; 
		@content;
	}
}

/* accordion */
$accHandleBorderWidth: 1px;
$accHandleBorderColor: transparent;
$accHandleColor: lighten($secondaryColor,10);
$accHandleColorActive: lighten($secondaryColor,10);

$accHandleBGColor: #eee;
$accHandleBGColorActive: darken(#eee,5);

$accContentBorderWidth: 1px;
$accContentBorderColor: transparent;
$accContentBGColor: #fff;

$accContentLinkColor: lighten($secondaryColor,10);
$accContentLinkBGColor: transparent;

$accContentLinkActiveColor: #fff;
$accContentLinkActiveBGColor: $primaryColor;

/* selector */
$selectorColor: #fff;
$selectorColorActive: #fff;
$selectorBackgroundColor: $primaryColor;
$selectorBackgroundColorActive: darken($primaryColor,10);

/* filter section */
$filterBarBackgroundColor: #000;
$filterBarContentColor: $lightColor;

$filterControlBackgroundColor: transparent;
$filterControlBackgroundColorActive: $primaryColor;
$filterControlColor: $lightColor;
$filterControlColorActive: $lightColor;