/* search form */
.global-search-form {
	position: fixed;
	top:0; left:0; right:0; bottom:0;
	background: rgba(0,0,0,0.8);
	z-index: -99;
	transition: 0.4s transform $ease-in-out-sine ;
	transform: translate3d(0,-100%,0);
	
	.show-search & {
		transform: translate3d(0,0,0);
		z-index: 99;
	}
	
	.fieldset { 
		display: flex ; 
		position: absolute;
		top:0; left:0; right:0;
		width: $wrapperWidth; height: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
	
	input { 
		appearance: none ;
		margin: auto; 
		background: transparent;
		font-size: 32px;
		font-family: $defaultFontStack;
		padding: 12px;
		border: 1px solid transparent;
		border-bottom-color: #fff;
		color: #fff;
		outline: none;
		width: 800px;
		max-width: 80%;
		min-width: 300px;

		@media screen and (max-width: $collapseNavAt) {
			font-size: 22px;
		}

	}
	
	.close {
		position: absolute;
		top: 10px; right: 10px;
		font-size: 32px;
		text-align: center;
		line-height: 40px;
		cursor: pointer;
		width: 40px; height: 40px;
		color: $lightColor;
		overflow:visible;
		border-radius: $buttonBorderRadius;

		&:hover {
			background: $lightColor;
			color: $navBackgroundColor;
			transition-delay: 0s ;
		}
	}
	
}